<div class="singleEmailStyle">
  <div class="star">
    <StarButton @starred={{email.starred}} @onClick={{star}} />
  </div>

  {{#link-to "email" email.id}}
    <div class="emailFrom">
      <b>{{email.from}}</b>
    </div>
    <div class="emails">
      {{truncate-text email.subject 25}}
    </div>
  {{/link-to}}
</div>
