.navbar {
  width: 15%;
  height: 100%;
  float: left;
  margin: 0;
  background-color: #f9f9f9;
}

#tabs {
  margin-bottom: 10%;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Open Sans", sans-serif;
}

li a {
  color: #4a89dc;
  text-decoration: none;
}

li a:hover {
  color: black;
}
