<style media="screen">
  .container: {
    width: 100%;
  }

  .truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .emails {
    width: 65%;
    float: right;
    color: #aab2bd;
  }

  .content {
    width: 85%;
    float: left;
    list-style-type: none;
    margin-left: 2%;
    color: white;
  }

  #elements {
    padding: 2%;
    padding-bottom: 3%;
    border-bottom: 2px solid #e6e9ed;
    background-color: ghostWhite;
    color: black;
  }
</style>

<div class="container">
  <ul>
    <div class="content">
      {{#each model as |email|}}
        <li id="elements">
          {{#link-to "email" email.id}}
            <div style="width: 20%; float: left;">
              <b>{{email.from}}</b>
            </div>
            <div class="emails">
              <div class="truncate">
                {{email.subject}}
              </div>
            </div>
          {{/link-to}}
        </li>
      {{/each}}
    </div>
  </ul>


</div>



{{outlet}}
